
@import 'tailwindcss';

@theme {
  --color-bodyDark: #000000;
  --color-primaryDark: #0e0e0e;
  --color-secondaryDark: #1B1B1B;
  --color-primaryLight: #DDDDDD;
  --color-borderColor: #202020;
  --color-themeBlue: #022EFD;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--color-primaryLight);
  color: var(--color-primaryLight);
}

/* h1, h2, h3, h4, h5, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
} */
